* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    --header-height: 76px;
    --primary-color: #ff0000;
    --text-color: #333;
    --secondary-color: #ff1e1e;
}

.line {
    position: relative;
}

.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    margin-left: -1px;
}

.line--under::after {
    bottom: -4px;
}

.line--above::after {
    top: -4px;
}

.hidden {
    display: none;
}
